{% extends 'board/base.html' %}
{% load static %}
{% block nav_bar %}
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'board:post_list' %}"><button class="btn btn-warning">사보게시판</button></a>
                <a href="{% url 'board:notice_list' %}"><button class="btn btn-warning">공지사항</button></a>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}
{% block sabo_tab %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-sm">
            {{ form.media }}
            {{ form }}
        </table>
        <div class="text-center">
            {% if 'board:post_write' %}
                <button type="submit" class="btn btn-warning float-none" onclick="return confirm('게시글을 등록 하시겠습니까?');">등록</button>
                {% else %}
                <button type="submit" class="btn btn-warning float-none" onclick="return confirm('게시글을 수정 하시겠습니까?');">수정</button>
            {% endif %}
{#            if url = board/write#}
{#            등록 버튼#}
{#            else#}
{#            수정 버튼#}
{#            endif#}
{#            <button type="submit" class="btn btn-warning float-none" onclick="return confirm('게시글을 등록 하시겠습니까?');">등록</button>#}
            <a href="{% url 'board:post_list' %}" onclick="return confirm('변경된 내용은 저장되지 않습니다.\n그래도 취소하시겠습니까?');"><button type="button" class="btn btn-secondary float-none" data-target="">취소</button></a>
        </div>
    </form>
{% endblock %}