{% extends 'board/base.html' %}

{% block sabo_tab %}
    <table class="table table-hover" style="text-align: center;">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">등록일</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        {# 게시글 #}
        {% for p in post_list %}
            <tr>
                <th scope="row">{{ p.pk }}</th>
                <td><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></td>
                <td>{{ p.created_at }}</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button">수정</button>
                        <button class="btn btn-primary" type="button">삭제</button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    페이지 네이션 추가#}
{% endblock %}

{#{% block notice_tab %}#}
{#    <table class="table table-hover" style="text-align: center;">#}
{#        <thead>#}
{#        <tr>#}
{#            <th scope="col">번호</th>#}
{#            <th scope="col">카테고리</th>#}
{#            <th scope="col">제목</th>#}
{#            <th scope="col">등록일</th>#}
{#            <th scope="col">Handle</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for n in notice_list %}#}
{#        <tr>#}
{#            <th scope="row">{{ n.pk }}</th>#}
{#            <td><a href="{{ n.get_absolute_url }}">{{ n.category }}</a></td>#}
{#            <td>{{ n.title }}</td>#}
{#            <td>{{ n.created_at }}</td>#}
{#            <td>#}
{#                 <div class="d-grid gap-2 d-md-block">#}
{#                        <button class="btn btn-primary" type="button">수정</button>#}
{#                        <button class="btn btn-primary" type="button">삭제</button>#}
{#                 </div>#}
{#            </td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#    페이지네이션 추가#}
{#{% endblock %}#}
