{% extends 'board/base.html' %}
<!DOCTYPE html>
{% load static %}
{% block nav_bar %}
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'board:post_list' %}"><button class="btn btn-outline-warning">사보 게시판</button></a>
                <a href="{% url 'board:notice_list' %}"><button class="btn btn-outline-warning">공지사항</button></a>
            </div>
            <div class="ml-auto">
                <a href="/board/{{ post.pk }}/update">
                    <button class="btn btn-secondary">수정</button>
                </a>
                <a href="/board/{{ post.pk }}/delete" onclick="return confirm('정말 {{ post.title }}을(를) 삭제 하시겠습니까?');">
                    <button class="btn btn-danger">삭제</button>
                </a>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}
{% block sabo_tab %}
    <div class="container-fluid">
        <div class="row" style="text-align: center; background-color: silver;">
            <div class="col-lg-1">No.{{ post.pk }}</div>
            <div class="col-lg-9"><b>{{ post.title }}</b></div>
            <div class="col-lg-2">{{ post.created_at|date:'Y-m-d' }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>{{ post.content | safe}}</p>
                {% if post.file_upload %}
                    {% if post.get_file_ext == 'jpg' or post.get_file_ext == 'jpeg' or post.get_file_ext == 'png' or post.get_file_ext == 'jfif' %}
                        <img src="{{ post.file_upload.url }}" alt="{{ post.get_file_name }}">
                        <br/><br/><br/><br/><br/><br/><br/>
                        <span style="background-color: silver;">이미지 다운로드:</span>
                        <a href="{{ post.file_upload.url }}" class="col-lg-auto" style="width:auto; background-color: silver;" role="button" download>
                            <i class="far fa-file-image"></i>{{ post.get_file_name }}
                        </a>
                    {% else %}
                        <br/><br/><br/><br/><br/><br/><br/>
                        <span style="background-color: silver;">첨부파일 다운로드:</span>
                        <a href="{{ post.file_upload.url }}" class="col-lg-auto" style="width:auto; background-color: silver;" role="button" download>
                            {% if post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                                <i class="far fa-file-excel"></i>
                            {% elif post.get_file_ext == 'txt' %}
                                <i class="far fa-file-alt"></i>
                            {% elif post.get_file_ext == 'pdf' %}
                                <i class="far fa-file-pdf"></i>
                            {% elif post.get_file_ext == 'zip' or post.get_file_ext == '7z' %}
                                <i class="far fa-file-archive"></i>
                            {% else %}
                                <i class="fas fa-file-alt"></i>
                            {% endif %}
                            {{ post.get_file_name }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div>
            <div class="text-center">
                <a href="/"><div class="btn btn-light">목록</div></a>
            </div>
        </div>
    </div>
{% endblock %}