{% extends 'board/base.html' %}

{% block sabo_tab %}
    <div class="ml-auto">
            <a href="{% url 'board:post_topFix' %}"><button class="btn btn-secondary">고정글 설정</button></a>
            <a href="{% url 'board:post_write' %}"><button class="btn btn-secondary">글쓰기</button></a>
        </div>
    </div>
</div>
    </br>
    <table class="table table-hover" style="text-align: center;">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">등록일</th>
            <th scope="col">Handle</th>
        </tr>
        {% if p %}
        {% else %}
            {% if post_fixed %}
                {% for pin in post_fixed %}
                    <tr class="table-warning table-hover">
                        <td><i class="fas fa-bullhorn"></i></td>
                        <td><a href="{{ pin.get_absolute_url }}">{{ pin.title }}</a></td>
                        <td>{{ pin.created_at|date:'Y-m-d' }}</td>
                        <td></td>
                    </tr>
                {% endfor%}
            {% endif %}
        {% endif %}
        </thead>
        <tbody>
        {# 게시글 #}
        {% for p in post_list %}
            <tr>
                <th scope="row">{{ p.pk }}</th>
                <td><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></td>
                <td>{{ p.created_at|date:'Y-m-d' }}</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <a href="/board/{{ p.pk }}/edit"><button class="btn btn-secondary" type="button">수정</button></a>
                        <a href="/board/{{ p.pk }}/delete"><button class="btn btn-danger" type="button">삭제</button></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#    페이지 네이션#}
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in page_range %}
                    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{#    {% if is_paginated %}#}
{#        <div class="pagination">#}
{#            <span class="page-links">#}
{#                {% if page_obj.has_previous %}#}
{#                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>#}
{#                {% endif %}#}
{#                <span class="page-current">#}
{#                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#                </span>#}
{#                {% if page_obj.has_next %}#}
{#                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>#}
{#                {% endif %}#}
{#            </span>#}
{#        </div>#}
{#    {% endif %}#}
{% endblock %}